version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.4

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: detect-changes
          mapping: |
            Backend/.* backend true
            Frontend/.* frontend true
            database/.* database true

      - generate-config:
          requires:
            - detect-changes

jobs:
  generate-config:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Generate config to stdout
          command: |
            if [[ "$CIRCLE_PIPELINE_PARAMETERS_backend" == "true" ]]; then
              cat .circleci/backend-pipeline.yml
            elif [[ "$CIRCLE_PIPELINE_PARAMETERS_frontend" == "true" ]]; then
              cat .circleci/frontend-pipeline.yml
            elif [[ "$CIRCLE_PIPELINE_PARAMETERS_database" == "true" ]]; then
              cat .circleci/database-pipeline.yml
            else
              echo "version: 2.1"
              echo "workflows: {}"
            fi

